:root{
    --blanco:#FFFFFF; 
    --primario: rgba(255,193,7,1); 
    --secundario: #0097a7; 
    --gris:#757575; 
    --negro:rgb(0,0,0); 
}


html {
    box-sizing: border-box;
    min-height: 100%;
    scroll-snap-type: y mandatory; 
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
p{
    line-height: 2;
}
body {
    font-family: "Krub", sans-serif;
    background-image:linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100%;
}
/* h1 {
    text-align: center; YA NO NECESITO EL h1 porque le puse clases. 
    font-size: 2em ; 
} */

.titulo{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}

.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display:flex;
    flex-direction: column;
}
@media(min-width:700px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
} /*Pone la letra blanca inicio,sobre,mi..*/

.navegacion-principal a:hover{
    background-color: var(--primario);
    color:var(--negro); 
} /*Cada vez que se acerque a las etiquetas a, se ve amarillo y las letras negras*/

.hero{
    background-image: url(../img/hero.jpeg);
    margin-bottom: 2rem;
    position: relative;
    height: 450px;
}
.contenido-hero{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,
.contenido-hero p{
    color:var(--blanco); 
}

h1{
    font-size: 1.4rem;
}
h1 span{
    font-size: 1.4rem;
}
h1,
h2,
h3 {
    text-align: center;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    color: var (--secundario); 
    font-weight: 400;
    font-size: 1.6rem;
}
.contenedor {
    margin: 0 auto;
    max-width: 1200px;
}
.sombra {
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}

